input:invalid + span::after {
    content: '✖';
}

input:valid+span::after {
    content: '✓';
}

.event-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.create-event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: var(--bgColor);
    padding-bottom: 1%;
}

#event-title {
    font-size: 2em;
}

.event-txtarea {
    height: auto;
    width: 100%;
    vertical-align: middle;
}

#txtarea {
    margin-bottom: 18%;
}

.description {
    font-size: .8em;
    margin-left: 90%;
    background-color: none;
}

.red {
    color: red;
}

.event-label,
.event-input {
    width: 80%;
}

.errors {
    list-style-type: '☆';
    margin-left: -3%;
}

.errors-div {
    width: 80%;
}


.event-input {
    width: 100%;
    padding: 10px;
}

.event-label {
    margin-bottom: 20px;
    margin-top: 5px;
    height: 3em;
}

.button-row {
    display: flex;
}

.button-row > button {
    margin: 0.2em;
}

input::file-selector-button {
    background-color: var(--plumPurple);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(24, 23, 23, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.1em;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 8px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.2s;

    margin-right: 20px;
}


.pac-container {
    background-color: #333;
    box-shadow: rgba(24, 23, 23, 0.1) 1px 2px 4px;

}

.pac-icon {
    color: var(--novaPurple);
}

.pac-item {
    color: white;
}

.pac-item:hover {
    background-color: rgb(105, 103, 103);
}

.pac-item-selected {
    color: yellow;
}

.pac-item-query {
    color: white;
}

.pac-matched {
    color: var(--stellarPurple);
}
