input:invalid + span::after {
    content: '✖';
}

input:valid+span::after {
    content: '✓';
}

.event-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.create-event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: var(--bgColor);
    padding-bottom: 1%;
}

#event-title {
    font-size: 2em;
}

.event-txtarea {
    height: auto;
    width: 100%;
    vertical-align: middle;
}

#txtarea {
    margin-bottom: 18%;
}

.description {
    font-size: .8em;
    margin-left: 90%;
    background-color: none;
}

.red {
    color: red;
}

.event-label,
.event-input {
    width: 80%;
}

.errors {
    list-style-type: '☆';
    margin-left: -3%;
}

.errors-div {
    width: 80%;
}


.event-input {
    width: 100%;
    padding: 10px;
}

.event-label {
    margin-bottom: 20px;
    margin-top: 5px;
    height: 3em;
}

.button-row {
    display: flex;
}

.button-row > button {
    margin: 0.2em;
}
