/* TODO: Signup form styling */

/* .signup-wrapper {
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
} */
.signup {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label, input {
    display: block;
    width: 25%;
}

/* .signup > label > input {
    box-sizing: content-box;
    width: 25%;
} */

.errors {
    list-style-type: '☆';
}


.signup-inputs {
    position: absolute;
    padding: 5px;
}

.label {
    margin-bottom: 40px;
}

#signup-title {
    padding-top: 10%;
}

#signup-button {
    margin-top: 10px;
}
