/* .create-event-form {
    display: flex;
    flex-direction: row;
} */

.event-label,
.event-input {
    display: block;
    width: 25%
}

.errors {
    list-style-type: '☆';
}


.event-input {
    position: absolute;
    padding: 10px;
}

.event-label {
    margin-bottom: 20px;
}
