/* .event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 5px;
    padding: 5px;
    gap: 1px;
    width: 350px;
} */

#all-events-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 30px;
}

#all-events-container > ul > div > li {
    font-size: 1.25em;
}

.event-card {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 380px;
    background-color: rgba(35, 34, 34, 0.6);
    border: 1px solid var(--stellarPurple);
    box-shadow: 0 0 5px var(--novaPurple);
}

.card-pic {
    /* height: 20vw; */
    width: 100%;
    object-fit: cover;
}

.cardText {
    text-align: center;
}
