/* MASTER CSS FILE OooOooOoo */

html {
    height: 100%;
}

/* Color Schemes */
:root {
    --defaultYellow: rgb(250, 250, 99);
    --stellarPurple: rgb(223, 202, 255);
    --novaPurple: #b025f1;
    /* --bgColor: rgba(35, 34, 34, 0.6); */
    --bgColor: rgba(44, 44, 44, 0.6);
    --plumPurple: #631387;

}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* set initial height & layout of header, body & footer */
.wrapper {
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
}

header,
footer {
    height: 3em;
    background-color: var(--bgColor);
    /* padding: 10px 0 10px 0; */
}

header {
    height: 4em;
    margin-top: -1%;
    margin-bottom: auto;
    border-bottom: 1px solid var(--plumPurple);
}

footer {
    margin-top: auto;
    border-top: 1px solid var(--plumPurple);
}

main {
    flex: 1;
}

/* font */

body {
    color: white;
    font-family: basic-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.6;
    font-size: 1.125em;
}

/* Background */
.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    z-index: -10;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    .bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

/* NavLinks & Links */
a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--novaPurple);
}

.active {
    color: var(--novaPurple);
}

/* Buttons */
button {
  background-color: initial;
  border: 1px solid var(--novaPurple);
  border-radius: 6px;
  box-shadow: rgba(24, 23, 23, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-size: 1.1em;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  cursor: pointer;
}

button:hover,
button:active {
  color: var(--novaPurple);
}

/* button:active {
  opacity: .5;
} */

.modal-button {
    color: #333;
}

.modal-text {
    color: #333;
}


/* dropdowns */
/* inputs */
input,
select {
    background-color: rgb(79, 73, 73);
    color: white;
    border-radius: 3px;
    box-sizing: border-box;
    width: 25%;
}

/* placeholder for input fields */
::placeholder {
    color: white;
}
/* forms */

/* h1 */
h1 {
    font-size: 30px;
    text-align: center;
}
/* h2 */
h2 {
    font-size: 20px;
}
/* p */

/* li */
li {
    list-style-type: none;
}
/* ul */

/* Splash page stuff */

#splash-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#welcome-title {
    font-size: 3em;
}

#splash-pic-container {
    height: 600px;
    width: 100%;
    position: relative;
}

.next-event-btn {
    position: absolute;
    left: 15%;
    bottom: 15%;
    background-color:  #631387;
    border: none;
}

.next-event-btn:hover,
.next-event-btn:active {
    color: white;
    background-color: var(--novaPurple);
}

.splash-pic {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}

.splash-text {
    font-size: 2em;
}

.splash-body-text {
    font-size: 1.8em;
}

.errors {
    list-style-type: '☆';
    color: red;
    font-weight: bold;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}


label {
    font-weight: bold;
}


/* loading text */
.loading {
    font-size: 5em;
    text-align: center;
}

/* date */

::-webkit-datetime-edit-text { padding: 0 0.4em; }
::-webkit-inner-spin-button { display: none; }

.display-pic {
    max-height: 300px;
    max-width: 500px;
}

textarea {
    resize: none;
    overflow:auto;
    background-color: #333;
    color: white;
    font-family: basic-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
}
