
#nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#nav-left,
#nav-right {
    display: flex;
    align-items: center;
    height: 100%;
}

#nav-left {
    margin-left: 2.5%;
}

#nav-right {
    margin-right: 2.5%;
    width: 40%;
}

.nerd-logo {
    font-size: 1.5em;
}



.navblocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    height: 100%; */
    width: 25%;
    box-sizing: border-box;
    transition: 0.2s;
}

.navblocks > i {
    font-size: 22px;
    margin-top: 13px;
    vertical-align: middle;
}

.navblocks > p {
    font-size: 14px;
    font-weight: 400;
    margin-top: -1px;
}

.navblocks:hover {
    background-color: #333;
    opacity: 1;
}


/* profile section */


.profile-button {
    width: 100%;
    padding: 12px 28px;
    cursor: pointer;
    /* border: 1px transparent solid; */
    /* border: 1px solid var(--novaPurple); */
    /* border-image: linear-gradient(to bottom left, #b025f1 0%, #278ffd 25%, #bafc38 50%, #fdca3c 75%, #fc1d94 100%); */
    /* border-image-slice: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    box-sizing: border-box;
}

.profile-button:hover {
    background-color: #333;
    opacity: 1;
}

.profile-dropdown {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 100;
    width: 170px;

    background-color: #333;

    position: absolute;
    border-radius: 5px;
    border: 1px solid var(--novaPurple);
    border-radius: 2px;
    /* border-image: linear-gradient(to bottom left, #b025f1 0%, #278ffd 25%, #bafc38 50%, #fdca3c 75%, #fc1d94 100%); */
    border-image-slice: 1;
    padding: 10px 10px 10px 10px;
    top: 47px;
    right: 0;
}

.profile-dropdown > li {
    padding-bottom: 4px;
}

#logout-button {
    font-size: .8em;
    font-weight: bold;
    background-color:  #631387;
    border: none;
    transition: 0.2s;
}

#logout-button:hover,
#logout-button:active {
    color: white;
    background-color: var(--novaPurple);
    opacity: 1;
}

#userPic {
    font-size: 16px;
    background-color: #333;
    padding: 13px;
    border-radius: 100%;
}

.session-links {
    margin-left: 55%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* screen sizes */
@media screen and (max-width: 1500px) {
    .session-links {
        width: 100%;
    }
}
