.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    border-radius: 2px;
    box-shadow: 0 0 5px var(--novaPurple);
    border: 10px solid var(--stellarPurple);
    justify-content: center;
    width: 450px;
    height: 500px;
}


.login-label, .login-inputs {
    width: 80%;
}

.errors {
    list-style-type: '☆';
}


.login-inputs {
    padding: 5px 0 5px 10px;
    height: 40px;
    border: none;
    background-color: #333;
    outline: none;
}

.login-inputs:-webkit-autofill,
.login-inputs:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.login-label {
    display: flex;
    align-items: center;
    padding: 0 0 5px 0;
    border-bottom: white 1px solid;
}

.login-label > i {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.login-field-format {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 10%;
}

.login-button {
    width: 150px;
    margin-top: 20px;
}

.demo {
    color: white;
    border-top: rgba(255, 255, 255, 0.3) 1px solid;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    cursor: pointer;
}

.demo > p {
    color: white;
    font-size: 15px;
    line-height: 0.5em;
    transition: .1s color ease-in-out;
}

.demo-button:hover {
    color: var(--novaPurple);
}

#close {
    position: absolute;
    top: 0;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
}

#close:hover {
    background-color: rgb(63, 63, 63);
    border-radius: 100%;

}
